@import "~office-ui-fabric-react/dist/sass/References.scss";

.color{
    color:red;
    margin-left: 20px;   
}
.form2{
    margin-right: 20px;   
}
.form{
    background-color: red;
}
.main_form
{
    text-align: center;
}
.div_class{
    margin-bottom:30px
}
